*{box-sizing:border-box;font-family: var(--font-family);}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
p, a, h1, h2, h3, h4, h5, h6 {transform: skew(-0.1deg);}
/* HTML5 display-role reset for older browsers */d
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul, li{list-style: none;}
blockquote, q {quotes: none;}
html{height: 100%;}
body {
	line-height: 1;
  font-family: var(--font-family);
  height: 100%;
  font-size:13px;
	font-weight:400;
	color:var(--color-text-gray);
	background:var(--color-bg-white);
}
a {color: var(--font-black_bagic); text-decoration: none;}
blockquote:before, blockquote:after,
q:before, q:after{content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
legend, caption {display:none;}
button {border: none; background: transparent; cursor: pointer; padding: 0;}
button:focus,
button:active,
textarea:focus,
textarea:active,                    
:root {
--font-family:'Pretendard', sans-serif;
--color-text-gray: #444;
--color-text-gray1: #333;
--color-text-white: #fff;
--color-text-primary: #097FE8;
--color-border-gray1 : #EBEBEB; 
--color-border-gray2 : #eee; 
--color-border-gray3 : #555; 
--color-border-gray4 : #444; 
--color-bg-primary:#097FE8;
--color-bg-white: #FFF;
--color-bg-gray: #F2F2F2;
--color-bg-blue1: #EEF5FF;
--color-bg-blue2: #81AEE9;
--color-btn-primary:#81AEE9;;
}
/* scrollbar */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-thumb{background-color: #babac0; border-radius: 16px;}
::-webkit-scrollbar-thumb:hover{background-color: #a0a0a5;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-track:hover {background-color: #f4f4f4;}

.btn{height:24px; font-size:12px; font-weight:600; line-height:24px; padding:0 8px; border-radius:2px;}
.btn.primary{color:var(--color-text-white); background:var(--color-btn-primary);} 
.grid-msgBtn{position:relative; width:28px; height:28px; border-radius:50%; background:#F1F6FF; font-size:0;}
.grid-msgBtn:after{content:''; position:absolute; top:calc(50% - 6px); left:calc(50% - 6px); width:12px; height:12px; background: url('../images/ico-message.svg') center center no-repeat; background-size:cover;}
.grid-msgBtn.active{background:#097FEB;}
.grid-msgBtn.active:after{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(104%) contrast(101%);}
.word-keeppAll{word-break:keep-all !important;}
/* .ellipsis{text-overflow: ellipsis; white-space: nowrap; word-break: break-all; overflow: hidden;}
.flex-align-top{align-items: flex-start !important;} */